h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 150px;
}
h2 {
    font-size: 25Spx;
}
h3 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 100px;
}
h4 {
    font-size: 20px;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    margin: 0px;
}
@media screen and (min-width: 480px) {
    body {
      background-color: whitesmoke;
    }
}
.home-link {
    margin-top: 200px;
    margin-bottom: -160px;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}
.closing-text {
    font-size: 10px;
    font-style: oblique;
    /* margin-top: 150px; */
    font-weight: bold;
    text-align: center;  
}
.wrapper {
    padding: 20px;
}
.blueText {
    color: rgb(58, 207, 233);
}
.purpleText {
    color: rgb(223, 140, 244);
}
.spacer {
    padding-top: 90px;
}
@media screen and (max-width: 400px) {
    .reducePadding {
      padding-left: 18px;
    }
}
@media screen and (max-width: 768px) {
    .reducePadding {
      padding-left: 29px;
    }
}
@media screen and (max-width: 768px) {
    .reduceWidth {
      width: 80%;
    }
}
@media screen and (max-width: 400px) {
    .reduceWidth {
      width: 60%;
    }
}
.center {
    margin: auto;
    width: 93%;
    /* border: 3px solid green; */
    padding: 10px;
}

.container {
    display: flex;
    border: 3px solid rgb(162, 255, 207);
    width: 20px;
    height: 20px;
}
.imgFit {
    width: 100%;
    height: 100%;
}
.noDecor {
    text-decoration: none;
}
