h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 150px;
}
h2 {
    font-size: 25Spx;
}
h3 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 100px;
}
h4 {
    font-size: 20px;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}
@media screen and (min-width: 480px) {
    body {
      background-color: whitesmoke;
    }
}
.home-link {
    margin-top: 200px;
    margin-bottom: -160px;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}
.closing-text {
    font-size: 10px;
    font-style: oblique;
    margin-top: 150px;
    font-weight: bold;
    text-align: center;  
}