h1 {
    text-align: center;
    font-style: initial;
}

h2 {
    font-style: initial;
}

.closing-text {
    font-size: 10px;
    font-style: oblique;
    margin-top: 150px;
    font-weight: bold;
    text-align: center;

}

/* .yellow-text {
    color:yellow ;
    border: black;
}

.orange-text {
    color: orange;
    border: black;
}

.blue-text {
    color: lightblue;
}

.white-text {
    color: white;
} */

Body {
    background-color: whitesmoke;
    font-size: 21px;
    font-style: italic;
}

@media screen and (min-width: 480px) {
    body {
      background-color: whitesmoke;
    }
}

.home-link {
    margin-top: 200px;
    margin-bottom: -160px;
}
.containerImg {
    display: flex;
    border: 3px solid rgb(162, 255, 207);
    width: 800px;
    height: auto;  
}
.imgFit {
    width: 100%;
    height: 100%;
}@media screen and (max-width: 1400px) {
    .containerImg {
      width: 57%;
    }
}
@media screen and (max-width: 900px) {
    .containerImg {
      width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .containerImg {
      width: 88%;
    }
}
@media screen and (max-width: 400px) {
    .containerImg {
      width: 95%;
    }
}